// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2019 Jagan Teki <jagan@amarulasolutions.com>
 */

#include "rk3399-u-boot.dtsi"

&sdmmc0_det_l {
	bootph-all;
};

&sdmmc0_pwr_h {
	bootph-all;
};

&vcc3v0_sd {
	bootph-pre-ram;
};
